<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Fiksni Troškovi</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>
	<script>
		$(document).ready(function() {
			$('#projects').dataTable({
				"order" : [ 1, 'asc' ],
				"footerCallback": function ( row, data, start, end, display ) {
		            var api = this.api(), data;
		 
		            function extractContent(html) {
		                return new DOMParser()
		                    .parseFromString(html, "text/html")
		                    .documentElement.textContent;
		            }
		            // Remove the formatting to get integer data for summation
		            var intVal = function ( i ) {
		            	if (typeof i === 'string'){
		            		i = extractContent(i)
		            		i = i.replace(/[\HRK,]/g, '') * 1
		            		console.log('Current ' + i)
		            		return i
		            	} else if (typeof i === 'number') {
		            		if (isNaN(i)){
		            			return 0;
		            		} else {
		            			return i;
		            		}
		            	}
		            };
		            pageTotal = api
	                .column( 2, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return intVal(a) + intVal(b);
	                }, 0 );
		            
	            // Update footer
	            $( api.column( 2 ).footer() ).html(
	                pageTotal + ' HRK'
	            );
	            }
			});
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-6">Fiksni Troškovi</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="projects">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Naziv</th>
						<th>Iznos</th>
						<th>Izmjeni</th>
						<th>Briši</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="fix : ${fixed}">
						<td th:text="${fix.createDate}"></td>
						<td th:text="${fix.name}"></td>
						<td th:text="${#numbers.formatDecimal(fix.amount, 1, 'COMMA', 2, 'POINT')} + ' HRK'"></td>
						<td>
							<form th:action="@{'/fixed/edit/' + ${fix.id}}"
								method="get">
								<button>Izmjeni</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/fixed/delete/' + ${fix.id}}"
								method="post">
								<button>Briši</button>
							</form>
						</td>
					</tr>
				</tbody>
				<tfoot>
		            <tr>
		                <th colspan="2" style="text-align:right">Total:</th>
		                <th colspan="3"></th>
		            </tr>
		        </tfoot>
			</table>
		</div>
	</div>
	<div class="col-md-12">
		<form th:action="@{/fixed/add/}" method="get">
			<button>Dodaj novi fiksni trošak</button>
		</form>
	</div>
</body>
</html>