<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Dodaj lokal</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${DTO}" th:action="@{/site/add/}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-4">
					<label for="name">Naziv lokala:</label> <input type="text"
						class="form-control" id="name" th:field="*{site.name}"
						required="required">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Adresa:</label> <input type="text"
						class="form-control" id="adress" th:field="*{site.address}">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Kontakt:</label> <input type="text"
						class="form-control" id="contact" th:field="*{site.contact}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6">
					<table class="table" id="siteTable">
						<thead>
							<tr>
								<th>Naziv</th>
								<th>Dostupno</th>
								<th>Broj za dodati</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pr, stat:*{devices}">
								<td><span th:text="${pr.key.name}"></span></td>
								<td><span th:text="${pr.key.amount} - ${pr.key.inUse}"></span></td>
								<td><input type="number" class="form-control" th:field="*{devices[__${stat.index}+1__]}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>