<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Dodaj lokal</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${DTO}"
		th:action="@{'/site/edit/' + *{site.id}}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-4">
					<label for="name">Naziv lokala:</label> <input type="text"
						class="form-control" id="name" th:field="*{site.name}"
						required="required">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Adresa:</label> <input type="text"
						class="form-control" id="adress" th:field="*{site.address}"
						required="required">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Kontakt (Ime i broj):</label> <input
						type="text" class="form-control" id="contact"
						th:field="*{site.contact}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6">
					<table class="table" id="siteTable">
						<thead>
							<tr>
								<th>Naziv</th>
								<th>Dostupno</th>
								<th>Ukupan broj u lokalu</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="d,stat:*{devices}">
								<input type="hidden" class="form-control"
									th:field="*{devices['__${stat.index}__'].device.id}">
								<td><input type="text" class="form-control"
									readonly="readonly"
									th:field="*{devices['__${stat.index}__'].device.name}"></td>
								<td><span th:text="${d.device.amount} - ${d.device.inUse}"></span></td>
								<td><input type="number" class="form-control"
									th:field="*{devices['__${stat.index}__'].amount}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>