<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Lokali</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#siteTable').DataTable();
			$('#inactiveTable').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Aktivni lokali</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="siteTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Adresa</th>
						<th>Datum postavljanja</th>
						<th>Zadnji Obračun</th>
						<th>Stanje (+ pretplata / - dug)</th>
						<th>Aparati</th>
						<th>Povuci</th>
						<th>Izmjeni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="site : ${sites}">
						<td th:text="${site.site.id}"></td>
						<td th:text="${site.site.name}"></td>
						<td th:text="${site.site.address}"></td>
						<td th:text="${site.site.createDate}"></td>
						<td th:text="${site.site.lastVisit}"></td>
						<td><a th:if="${site.debtTotal != 0}"
							th:text="${#numbers.formatDecimal(site.debtTotal, 0, 'COMMA', 2, 'POINT')} + ' HRK'"
							th:href="@{'/debt/' + ${site.site.user.username}}"></a> <span
							th:if="${site.debtTotal == 0}">0.00 HRK</span>
						<td><a th:if="${site.site.devices != null}"
							th:href="@{'/device/' + ${site.site.id}}"> Aparati</a> <span
							th:if="${site.site.devices == null}"> Nema aparata </span></td>
						<td>
							<form th:action="@{'/site/disable/' + ${site.site.id}}"
								method="post" onsubmit="return confirm('Povuci lokal?');">

								<button>Povuci</button>
							</form>

						</td>
						<td>
							<form th:action="@{'/site/edit/' + ${site.site.id}}" method="get">
								<button>Izmjeni</button>
							</form>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<form th:action="@{/site/add/}" method="get">
			<button>Dodaj novi lokal</button>
		</form>

	</div>
	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Povuceni lokali</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="inactiveTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Adresa</th>
						<th>Zadnji Obračun</th>
						<th>Datum povlacenja</th>
						<th>Stanje (+ pretplata / - dug)</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="site : ${inactive}">
						<td th:text="${site.site.id}"></td>
						<td th:text="${site.site.name}"></td>
						<td th:text="${site.site.address}"></td>
						<td th:text="${site.site.lastVisit}"></td>
						<td th:text="${site.site.releaseDate}"></td>
						<td><a th:if="${site.debtTotal != 0}"
							th:text="${#numbers.formatDecimal(site.debtTotal, 0, 'COMMA', 2, 'POINT')} + ' HRK'"
							th:href="@{'/debt/' + ${site.site.user.username}}"></a> <span
							th:if="${site.debtTotal == 0}">0.00 HRK</span>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>