<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Lokali</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document)
				.ready(
						function() {
							$('#siteTable')
									.dataTable(
											{
												"order" : [ [ 1, 'asc' ],
														[ 3, 'desc' ] ],
												"footerCallback" : function(
														row, data, start, end,
														display) {
													var api = this.api(), data;

													function extractContent(
															html) {
														return new DOMParser()
																.parseFromString(
																		html,
																		"text/html").documentElement.textContent;
													}
													// Remove the formatting to get integer data for summation
													var intVal = function(i) {
														if (typeof i === 'string') {
															i = extractContent(i)
															i = i.replace(
																	/[\HRK,]/g,
																	'') * 1
															console
																	.log('Current '
																			+ i)
															return i
														} else if (typeof i === 'number') {
															if (isNaN(i)) {
																return 0;
															} else {
																return i;
															}
														}
													};
													pageTotal = api
															.column(
																	5,
																	{
																		page : 'current'
																	})
															.data()
															.reduce(
																	function(a,
																			b) {
																		return intVal(a)
																				+ intVal(b);
																	}, 0);

													// Update footer
													$(api.column(5).footer())
															.html(
																	pageTotal
																			+ ' HRK');
												}
											});
							$('#inactiveTable').dataTable({
								"order" : [ [ 4, 'desc' ], [ 1, 'desc' ] ]
							});
						});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Aktivni lokali</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="siteTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Adresa</th>
						<th>Datum postavljanja</th>
						<th>Zadnji Obračun</th>
						<th>Stanje (+ pretplata / - dug)</th>
						<th>Aparati</th>
						<th>Povuci</th>
						<th>Izmjeni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="site : ${sites}">
						<td th:text="${site.site.id}"></td>
						<td th:text="${site.site.name}"></td>
						<td th:text="${site.site.address}"></td>
						<td th:text="${site.site.createDate}"></td>
						<td style="background-color: #FF0000; font-weight: bold"
							th:if="${site.isLate}" th:text="${site.site.lastVisit}"></td>
						<td th:if="${!site.isLate}" th:text="${site.site.lastVisit}"></td>
						<td><a th:if="${site.debtTotal != 0}"
							th:text="${#numbers.formatDecimal(site.debtTotal, 1, 'COMMA', 2, 'POINT')} + ' HRK'"
							th:href="@{'/debt/site/' + ${site.site.id}}"></a> <a
							th:if="${site.debtTotal == 0}"
							th:href="@{'/debt/site/' + ${site.site.id}}">0.00 HRK</a>
						<td><a th:if="${site.site.devices != null}"
							th:href="@{'/device/' + ${site.site.id}}"> Aparati</a> <span
							th:if="${site.site.devices == null}"> Nema aparata </span></td>
						<td>
							<form th:action="@{'/site/disable/' + ${site.site.id}}"
								method="post" onsubmit="return confirm('Povuci lokal?');">
								<button>Povuci</button>
							</form>

						</td>
						<td>
							<form th:action="@{'/site/edit/' + ${site.site.id}}" method="get">
								<button>Izmjeni</button>
							</form>
						</td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5" style="text-align: right">Total:</th>
						<th colspan="4"></th>
					</tr>
				</tfoot>
			</table>
		</div>
		<form th:action="@{/site/add/}" method="get">
			<button>Dodaj novi lokal</button>
		</form>

	</div>
	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Povuceni lokali</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="inactiveTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Adresa</th>
						<th>Zadnji Obračun</th>
						<th>Datum povlacenja</th>
						<th>Stanje (+ pretplata / - dug)</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="site : ${inactive}">
						<td th:text="${site.site.id}"></td>
						<td th:text="${site.site.name}"></td>
						<td th:text="${site.site.address}"></td>
						<td th:text="${site.site.lastVisit}"></td>
						<td th:text="${site.site.releaseDate}"></td>
						<td><a th:if="${site.debtTotal != 0}"
							th:text="${#numbers.formatDecimal(site.debtTotal, 0, 'COMMA', 2, 'POINT')} + ' HRK'"
							th:href="@{'/debt/' + ${site.site.user.username}}"></a> <span
							th:if="${site.debtTotal == 0}">0.00 HRK</span>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>