<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Štednja</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document)
				.ready(
						function() {
							$('#savingsTable')
									.DataTable(
											{
												"order" : [ [ 0, 'desc' ],
														[ 1, 'asc' ] ],
												"footerCallback" : function(
														row, data, start, end,
														display) {
													var api = this.api(), data;

													function extractContent(
															html) {
														return new DOMParser()
																.parseFromString(
																		html,
																		"text/html").documentElement.textContent;
													}
													// Remove the formatting to get integer data for summation
													var intVal = function(i) {
														if (typeof i === 'string') {
															i = extractContent(i)
															i = i.replace(
																	/[\€,]/g,
																	'') * 1
															console
																	.log('Current '
																			+ i)
															return i
														} else if (typeof i === 'number') {
															if (isNaN(i)) {
																return 0;
															} else {
																return i;
															}
														}
													};
													pageTotal = api
															.column(
																	1,
																	{
																		page : 'current'
																	})
															.data()
															.reduce(
																	function(a,
																			b) {
																		return (intVal(a) + intVal(b))
																				.toFixed(2);
																	}, 0);

													// Update footer
													$(api.column(1).footer())
															.html(
																	pageTotal
																			+ ' €');
												}
											});
						});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Štednja</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="savingsTable">
				<thead>
					<tr>
						<th>Deviza</th>
						<th>Iznos u Eurima</th>
						<th>Iznos u Devizi</th>
						<th>Dodaj</th>
						<th>Povuci</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sav : ${savings}">
						<td th:text="${sav.saving.name}"></td>
						<td><a th:if="${sav.localTotal != null}"
							th:href="@{'/savings/list/' + ${sav.saving.id}}"
							th:text="${#numbers.formatDecimal(sav.localTotal, 1, 'COMMA', 2, 'POINT')} + ' €'"></a><span
							th:if="${sav.localTotal == null}">0.00</span></td>
						<td><a th:if="${sav.currencyTotal != null}"
							th:href="@{'/savings/list/' + ${sav.saving.id}}"
							th:text="${#numbers.formatDecimal(sav.currencyTotal, 1, 'COMMA', 2, 'POINT')} + ' ' +  ${sav.saving.sign}"></a><span
							th:if="${sav.currencyTotal == null}">0.00</span></td>

						<td>
							<form th:action="@{'/savings/add/' + ${sav.saving.id}}"
								method="get">
								<button>Dodaj</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/savings/substract/' + ${sav.saving.id}}"
								method="get">
								<button>Oduzmi</button>
							</form>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="1" style="text-align: right">Total:</th>
						<th colspan="3"></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
			<div class="col-md-12">
				<form th:action="@{/savings/add/}" method="get">
					<button>Dodaj novu valutu</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>