<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Dodaj na štednju</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${addSaving}"
		th:action="@{'/savings/add/' + ${id}}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-4">
					<label for="subtype">Iznos u kunama:</label> <input type="number"
						class="form-control" id="amount" th:field="*{amountInHRK}"
						required="required">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Iznos u devizi:</label> <input type="number"
						class="form-control" id="amount" th:field="*{amountInCurrency}"
						required="required">
				</div>
				<div class="form-group col-lg-4">
					<label for="subtype">Opis:</label> <input type="text"
						class="form-control" id="amount" th:field="*{note}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>