<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Izmjeni komentar</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${editTask}"
		th:action="@{'/task/comment/' + *{id}}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-8">
					<label for="name">Komentar:</label> <input type="text"
						class="form-control" id="user" th:field="*{comment}"
						th:value="*{comment}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>