<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Korisnici</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#userTable').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Korisnici</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="userTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Password</th>
						<th>Saldo</th>
						<th>Placa</th>
						<th>Obaveze</th>
						<th>Lokali</th>
						<th>Dugovanja Lokala</th>
						<th>Transakcije</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.dto.user.id}"></td>
						<td th:text="${user.dto.user.username}"></td>
						<td th:text="${user.dto.user.password}"></td>
						<td
							th:text="${user.saldo == ''} ? ${#numbers.formatDecimal(0, 1, 'COMMA', 2, 'POINT')} + ' €' :${#numbers.formatDecimal(user.saldo, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>
						<td
							th:text="${user.pay == ''} ? ${#numbers.formatDecimal(0, 1, 'COMMA', 2, 'POINT')} + ' €' :${#numbers.formatDecimal(user.pay, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>
						<td><a th:href="@{'/task/' + ${user.dto.user.username}}">Obaveze</a></td>
						<td><a th:if="${user.dto.user.sites != null}"
							th:href="@{'/site/' + ${user.dto.user.username}}"> Lokali</a> <span
							th:if="${user.dto.user.sites == null}"> Nema lokala </span></td>
						<td><a th:if="${user.dto.totalDebt != null}"
							th:href="@{'/debt/' + ${user.dto.user.username}}"
							th:text="${#numbers.formatDecimal(user.dto.totalDebt, 1, 'COMMA', 2, 'POINT')} + ' €'">
						</a> <span th:if="${user.dto.user.sites == null}"> Nema
								dugovanja </span></td>
						<td><a th:if="${user.dto.user.transactions != null}"
							th:href="@{'/transaction/' + ${user.dto.user.username}}">
								Transakcije </a> <span th:if="${user.dto.user.transactions == null}">
								Nema transakcija </span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>