<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Expense Edit</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>
	<div class="col-md-12">
		<h1 class="col-md-3">Izlaz</h1>
	</div>
	<form method="POST" th:object="${editTrans}"
		th:action="@{'/transaction/expense/edit/' + *{id}}">
		<div class="container-fluid">
			<div class="row">

				<div class="form-group col-lg-4">
					<label for="amount" class="control-label">Iznos:</label> <input
						type="number" class="form-control" id="amount"
						th:field="*{amount}" th:value="*{amount}" required="required"
						step="0.01">
				</div>
				<div class="form-group col-lg-4">
					<label>Tip:</label> <select th:field="*{type}" class="form-control"
						required="required">
						<optgroup sec:authorize="hasRole('ROLE_ADMIN')"
							label="Privatni Troškovi">
							<option th:each="type : ${private}" th:value="${type.id}"
								th:text="${type.subType}"></option>
						</optgroup>
						<optgroup
							label="Operativni Troškovi">
							<option th:each="type : ${operative}" th:value="${type.id}"
								th:text="${type.subType}"></option>
						</optgroup>
						<optgroup
							th:if="${#authentication.getPrincipal().getUsername() == 'banka'}"
							label="Poslovni Troškovi">
							<option th:each="type : ${business}" th:value="${type.id}"
								th:text="${type.subType}"></option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-12">
					<label for="description" class="control-label">Opis:</label> <input
						type="text" class="form-control" id="description"
						th:field="*{description}" th:value="*{description}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>