<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Bank</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.11.3/datatables.min.js"></script>
</head>
<body>

	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document)
				.ready(
						function() {
							$('#transTable')
									.DataTable(
											{
												"order" : [ [ 1, 'desc' ],
														[ 2, 'asc' ] ],
												"footerCallback" : function(
														row, data, start, end,
														display) {
													var api = this.api(), data;

													// Remove the formatting to get integer data for summation
													var intVal = function(i) {
														return typeof i === 'string' ? i
																.replace(
																		/[\HRK,]/g,
																		'') * 1
																: typeof i === 'number' ? i
																		: 0;
													};
													pageTotal = api
															.column(
																	4,
																	{
																		page : 'current'
																	})
															.data()
															.reduce(
																	function(a,
																			b) {
																		return intVal(a)
																				+ intVal(b);
																	}, 0);

													// Update footer
													$(api.column(4).footer())
															.html(
																	pageTotal
																			+ ' HRK');
												}
											});
						});
	</script>
	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Banka</h1>
		</div>
		<div class="col-md-12">
			<h2
				th:text="@{'Stanje banke: ' + ${#numbers.formatDecimal(sum,1,'COMMA', 2, 'POINT')} + ' HRK'}"
				class="col-md-3"></h2>
		</div>
		<div class="col-md-12">
			<table class="table" id="transTable">
				<thead>
					<tr>
						<th>Korisnik</th>
						<th>Datum</th>
						<th>Vrsta</th>
						<th>Tip</th>
						<th>Iznos</th>
						<th>Napomena</th>

					</tr>
				</thead>
				<tbody>
					<!-- Transakcije -->
					<tr th:each="trans : ${transactions}">
						<td th:text="${trans.createdBy.username}"></td>
						<td th:text="${trans.createDate}"></td>
						<td
							th:text="${trans.site !=null ? trans.site.name : trans.type.mainType == 'Izlaz' ? 'Izlaz' : 'Banka Ulaz'}"></td>

						<td th:if="${trans.type != null}" th:text="${trans.type.subType}"></td>
						<td
							th:text="${#numbers.formatDecimal(trans.amount, 0, 'COMMA', 2, 'POINT')} + ' HRK'"></td>
						<td th:text="${trans.description}"></td>
					</tr>
					<!-- Investicije -->
					<tr th:each="project : ${projects}">
						<td>banka</td>
						<td th:text="${project.project.createDate}"></td>
						<td>Investicija</td>
						<td th:text="${project.project.name}"></td>
						<td
							th:text="${#numbers.formatDecimal(project.total, 1, 'COMMA', 2, 'POINT')} + ' HRK'"></td>
						<td th:text="${project.project.description}"></td>
					</tr>
					<!-- Stednja -->
					<tr th:each="saving : ${savings}">
						<td>banka</td>
						<td th:text="${saving.createDate}"></td>
						<td>Štednja</td>
						<td>HRK</td>
						<td
							th:text="${#numbers.formatDecimal(saving.amount, 1, 'COMMA', 2, 'POINT')} + ' HRK'"></td>
						<td></td>
					</tr>
					<!-- Dugovi -->
					<tr th:each="debt : ${debts}">
						<td th:text="${debt.debt.user}"></td>
						<td th:text="${debt.debt.createDate}"></td>
						<td>Posudba</td>
						<td th:text="${debt.debt.type.type}"></td>
						<td
							th:text="${#numbers.formatDecimal(debt.outstandingAmount, 1, 'COMMA', 2, 'POINT')} + ' HRK'"></td>
						<td th:text="${debt.debt.description}"></td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4" style="text-align: right">Total:</th>
						<th colspan="2" style="text-align: left"></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>